*{
    direction: rtl;
}

body{
    /* background-image: url('../images/study-achva.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;  
}

.mb-3 {
    margin-bottom: 28px;
}

.container{
    background-color: rgba(255,255,255, 0.95);
}
@media (min-width: 992px){
    .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        float: right;
    }
}

.row{
    margin: 10px 0;
}
.item-file{
    cursor: pointer;
}
input{
    color: #1a2b66;
}
input[type="submit"]{
    border: 0px;
}

h2{
    color: #462e8d;
}
p, label, file-list>a{
    color: #1a2b66;
}

.item-file{
    color:  #00b0ba;
}

.form-control:focus{
    border:1px solid #00b0ba;
}

.form-control{
    border:1px solid #462e8d;
}
.arial{
    font-family: Arial, Helvetica, sans-serif;
}
.white{
    color: #fff;
}

.student-state{
    margin: 5px;
}

#main-cont{
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position: 5px 50px; 
}

blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-right: 5px solid #00b0ba;
}

input#savebtn {
    background-color: #00b0ba;
    position: fixed;
    left: 41px;
    bottom: 70px;
    width: 150px;
}

input#submitbtn{
    background-color: #462e8d;
    position: fixed;
    left: 41px;
    bottom: 20px;
    width: 150px;
}

.closex {
    float: left;
    border: 2px solid #fff;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 50%;
    padding: 0px;
    margin: 0;

}

.datasaved{
    position: fixed;
    align-self: baseline;
    text-align: center;
    margin: 13vw;
    z-index: 999;
    width: 490px;
    min-height: 100px;
    animation-delay: 200ms;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    animation-duration: 3000ms;
 
 }



 @keyframes fadeOut {
    50% {opacity: 1;}
    100% {opacity: 0;} 
 } 

a.site_title span{
    font-size: 21px !important;
}

.achva-sub-title{
    margin: 20px 20px 0 0;
    color: #00b0ba;
}


#anchor-menu > li > a  span{
font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#anchor-menu > li a:hover{
    color: #00b0ba !important;
}

/* #req-files{
    position: fixed;
    top: 0;
    width: 27%;
    overflow: scroll;
    height: 100vh;
} */


/* animations */

#explanation{
    cursor: pointer;
}